<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      body { 
        text-align:center;font-family:helvetica,arial;font-size:22px;
        color:#888;margin:20px}
        #c {margin:0 auto;width:500px;text-align:left}
      </style>
    </head>
    <body>
      <h1>Best Bowling Alley</h1>
      <p>The best in the west</p>
      <p><address>555 Bowling Street, Austin, TX</address></p>
      
    </body>
</html>